html,
body {
	height: 100vh;
}

body {	
	background : linear-gradient(black,white);
}
div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
table {
	border-spacing: 0;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

thead {
	background-color: rgb(10, 10, 10);
	color: white;
	transform-style: preserve-3d;
}

th,
td {
	padding: 1rem;
}

tbody tr:nth-of-type(2n) {
	background-color: rgb(200, 202, 206);
}

tbody tr:nth-of-type(2n + 1) {
	background-color: rgb(125, 127, 131);
}